a {
	color: #500B0B;
	text-decoration:none; 
}

a:visited {
	font-weight: bolder;
	color: #500B0B;
}
blockquote{
	background-color: silver;
}
body {
	margin: 0;
	padding: 0;
	background: none;
}

body {
	background-repeat: repeat-y;
	background-attachment:fixed;
	background-image: url("images/old-grunge-vector-background.jpg");
	margin-left: 1cm;
	margin-right: 1cm;
	background-color: white;
}

body#altbackground {
	background-repeat: repeat-y;
	background-attachment:fixed;
	background-image: url("images/sharkbaysunset.jpg");
	background-position: center;
	background-color:;
	margin-left: 1cm;
	margin-right: 1cm;
}

body#altbackground_lusa {
	background-image: url("images/lusa/lusyabg.jpg");
	background-repeat: repeat;
	background-position: center;
}

body#background_marketplace {
	background-color: #daa525;
	background-image: none;
}

body#background_travel {
	background-color: #778ddb;
	background-image: none;
}

body#background_musicandart {
	background-color: #332626;
	background-image: none;
}

body#background_humour {
	background-image: url("images/lusa/light2.jpg");
	background-color: #778ddb;
	background-repeat: repeat;
}

div {
	border:none;
}

div#lusa {
	background-image: url("images/lusa/light2.jpg");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}

div#bret {
	background-image: url("images/whaleshark.jpg");
	background-position: left;
	background-repeat: repeat;
	background-attachment: fixed;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 0px;
}

em {
	font-size: 115%;
	font-weight: bolder;
	font-style: inherit;
}

h1 {
	color: #500B0B;
	font-family: Firefly;
	text-align: center;
	border: none;
	background-color: none;
	font-size: 350%;
	border-radius: 80px;
	box-shadow: none;
	margin-bottom: 10px;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 5px;
	padding: 10px;
}

div#head_music {
	background-image: url("images/music1a.jpg");
	background-position: top;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
}

div#head_home {
	background-image: url("images/homepaged-1.jpg");
	background-position: center;
	background-repeat: repeat-n;
	max-height: 400px;
	height:400px;
	width: 99.4%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}
textopacity#home1{
	
	
}

h1#home {
	color: rgb(74, 40, 31);
	/*Fallback for older browsers without RGBA-support */
	font-size: 700%;
	background: rgba(204, 204, 204, 0.0);
	border-radius: 5px;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 1.0);
	width: 40%;
	margin-left: 29%;
}
div#head_humour {
	background-image: url("images/humour2.jpeg");
	background-position: center;
	background-repeat: repeat-n;
	max-image-size:100%;
	height: 320px;
	width: 100%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
}
	h1#humour {
	color: white;
	font-size: 620%;
	margin-left: 0%;
	margin-top: 0px;
	padding-top: 100px;
	padding-bottom: 0px;
	width: 24%;
	background: black 0.6;
	border-radius: 5px;
}

p#humour_text {
	color: white;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	border-radius: 5px;
	/*width: 200px;*/
	display: inline-block;
}



div#head_travel {
	background-image: url("images/coralbay2.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}

div#head_marketplace {
	background-image: url("images/gold1.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}

div#head_teach {
	background-image: url("images/board.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	max-image-size:100%;
	
}
div#travel_container{
	font-size: 14px;
text-align: justify;
z-index: 1;
position: relative;
background: #E4E8E9;
border-radius: 10px;
margin: 20px auto 10px;
overflow: hidden;
padding: 50px;
width: 1090px;
border: 0;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin-left: -10px;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.featured_boxes{
	background: url("images/fbcback.png") repeat scroll 0 0 #CCCCCC;
    display: inline-block;
    margin: 20px 22px 0 18px;
    overflow: hidden;
    line-height: 1.3em;
    text-shadow: none;
    width:96.5%;
	
	
}
.featured_box{
	background: url("images/fea-sep.png") repeat-y scroll 100% 50% transparent;
border-color: #FFFFFF #C9C9C9 #C9C9C9 #986262;
display: inline;
float: left;
overflow: hidden;
padding: 10px;
position: relative;
width: 330px;
	    
}

h1#teach {
	color: white;
	font-size: 420%;
	margin-left: 0%;
	margin-top: 0px;
	padding-top: 14px;
	padding-bottom: 0px;
	width: 66.2%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

p#teach_text {
	color: white;
	background: rgb(204, 204, 204, .05);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
	/*width: 200px;*/
	display: inline-block;
	font-size:180%;
}

h1#marketplace {
	color: #8e6919;
	font-size: 570%;
	margin-left: 0%;
	margin-top: 0px;
	padding-top: 14px;
	padding-bottom: 0px;
	width: 98.4%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

h1#music {
	color: black;
	font-size: 370%;
	margin-left: 50.6%;
	margin-top: 0px;
	padding-top: 74px;
	padding-bottom: 0px;
	width: 30%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

h1#sub {
	margin-left: 0%;
	margin-right: 14%;
}

h1#travel {
	color: #e3f0f8;
	font-size: 560%;
	margin-left: 10%;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 50%;
	border-radius: 5px;
	background: rgb(04, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(04, 204, 204, 0.4); */
	border-radius: 10px;
	width: 30%;
}

h1#adventures {
	color: #167AA7;
	font-size: 390%;
	margin-left: 28.6%;
	margin-top: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 30%;
	border-radius: 50px;
	background: rgb(184, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(164, 204, 204, 0.4);
	border-radius: 10px;
	width: 30%;
}

h1#stories {
	color: #0003ff;
	font-size: 390%;
	margin-left: 60%;
	margin-top: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 30%;
	border-radius: 5px;
	background: rgb(04, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(904, 904, 404, 0.3);
	border-radius: 10px;
	width: 20%;
}

h2 {
	font-family: Firefly;
	color: #F00C0C;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	padding: 10px
}

h4 {
	text-align: left;
	font-size: 240%;
	color: rgba(113, 7, 7, 0.95);
	padding: 10px;
	box-shadow:;
	border-radius: 20px;
	width: 98.6%;
	font-family: Oranienbaum;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	align: center;
}

#h4sidebar_right {
	margin-right: 0%;
	padding: 8px;
	width: 90%;
}

#h4about {
	align: left;
	margin-right: 100%;
	width: 25%;
	float: center;
}

iframe {
	
	border-radius: 1px;
	border-spacing: 0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-left:-10px;
	margin-top:-10px;
	border: none;
	background-color:#f9f9f9;
	
}
iframe#youtube{
	position: center;
	border-radius: 10px;
	border-spacing: 0px;
	padding: 0px;
	margin-bottom: 1px;
	border: none;
	background-color:#e1dcc4;
	margin: 0px;
	border: 4px solid rgba(0, 0, 0, 0.1);
}

p {
	font-family: Oranienbaum;
	color: #500B0B;
	font-size: 135%;
	font-style: center;
	font-weight: 0%;
	margin-right: 10px;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}
p#sub_heading{
	font-size: 165%;
	
}

img{
	max-width:100%;
	max-height:100%
}

p#article_text {
	margin-right: 15%;
}
p#home1 {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.8);
	border-radius: 2px;
	font-family: 'Lobster', cursive;
	font-size: 160%;
	height:60px;
	padding: 10px;
	width:500px;
	margin-top:10px;
	padding-bottom:2%;
	
}
p#home2{
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.8);
	border-radius: 2px;
	font-family: 'Lobster', cursive;
	font-size: 140%;
	height:110px;
	padding: 10px;
	width:400px;
	margin-top:10px;
	padding-bottom:2%;
}
.textopacity_r {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.2);
	border-radius: 0px;
	padding: 10px;
	
	margin-right: 15%;
}



.textopacitybottom {
	/* To keep opaque text background under image galleries */
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.4);
	border-radius: 20px;
	position: inherit;
	top: 100%;
	padding-top: 10px;
	width: 98.4%;
	border-radius: 0px;
	padding: 10px;
}

a.active {
	background-color: #500B0B;;
	color: #444;
}

.articleform {
	background-color: #F6ECBC;
	padding: 20px;
	border: 2px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	width: 81%;
}

article#homeform{
	background-color: #F6ECBC;
	padding: 20px;
	border: 2px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	width: 81%;
}
#articleform_home{
	background-color: #F6ECBC;
	padding: 20px;
	border: 2px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	width: 100%;
	
}
#articleform_header {
	background-image: url("images/old-grunge-vector-background.jpg");
	background-repeat:;
	background-position: bottom;
	background-color: #EAD579;
}

#articleform_awards {
	width: 92%;
}

#articleform_upload {
	width: 50%;
}

article#altbackground1 {
	background-image: url("images/whaleshark.jpg");
	background-position: fixed;
	padding: 20px;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

article#altbackground2 {
	background-image: url("images/under_construction.jpg");
}

article#footer {
	background-image: url("images/old-grunge-vector-background.jpg");
	background-position: bottom;
}


.comment_container {
	padding: 15px;
}

.comment_reply {
	margin-top: 10px;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 50%;
	padding: 10px;
	margin-top: bottom 15px;
	background: #F9F9F9;
	opacity: .9;
}

.comment-form {
	border: 4px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	width: 52%;
	padding: 5px;
	margin-top: 15px;
	font-family:;
	font-size: 150%;
	background: #F9F9F9;
	
	
}

.comments-wrapper-heading {
	font-family: Nickainley;
	font-size: 350%;
	background-color: #F8F8F8;
	color: #591111;
	box-shadow: none;
	border-radius: 10px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	width: 51%;
	text-aign: center;
}

.form-submit-button {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	color: #333;
	border: 4px solid rgba(0, 0, 0, 0.1);
	font-family: Nickainley;
	font-size: 200%;
}

.container_gallery {
	padding: 0px;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: none;
	font: black;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 0px;
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

.container_galleryimage {
	background: none;
	padding: 20px;
	font: black;
	width: 96%;
	margin: 10px auto;
	overflow: hidden;
}

.galleryItem {
	/*width: 100%;*/
	color: #797478;
	font: 20px/1.5 Verdana, Helvetica, sans-serif;
	float: left;
	color: #797478;
	font: 10px/1.5 Verdana, Helvetica, sans-serif;
	width: 16%;
	margin: 2% 2% 50px 2%;
	margin-top: 10px;
	max-height: 350px;
}
h3.textopacity {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.4);
	border-radius: 20px;
	padding: 10px;
	width: 16%;
}
.textopacity_box {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.2);
	border-radius: 10px;
	font-size: 170%;
	font-family: times;
	height: inherit;
	margin: 4% 4% 1px 4%;
	overflow: hidden;
	padding: 5px;
	width: 100%;
	margin:10px;
}
.search {
	/* search bar */
	border: 2px solid #F0DB70;
	border-style: outset;
	width: 15.6%;
	height: 25px;
	font-size: 11pt;
	float: left;
	line-height: 0px;
	padding: 2px;
	overflow: hide;
	
	margin-right: 10px;
}
.home{
	margin-left: 2px;
}

.box {
	/* Figure out wtf this is for */
	padding: 0px;
	border-radius: 0px;
	float: right;
	position: left;
	margin-top: 5%;
}
.fb-like{
	
	margin-left:5%;
}
.featuresColumn {
	align-content: stretch;
	float: left;
	width: 424px;
	margin-bottom:10px;
	margin-right: 10px;
	display: flex;
	flex-direction: initial;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	flex-flow: column ;
	flex-grow: <1>;
	align-items: flex-start;
	max-height: 700px;
	
}

.flagimage {
	padding: 0px;
	border-radius: 15px;
	padding-right: 0px;
	float: none;
}

.flexbox {
	display: flex;
	flex-direction: row; 
	flex-flow:row-wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	margin-bottom:1%;
	width:100%;
}




.galleryitem_last {
	max-width: 230%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	margin: 10% 4% 10px 4%;
	margin-top: 5px;
	width: 100%;
}

.galleryItem h3 {
	text-transform: uppercase;
	font-size: 170%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	font-family: times;
	color: #500B0B;
	margin: 1% 4% 1px 4%;
	overflow: visible;
	padding: 3px;
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.3);
	width: 100%;
	max-height: 100px;
}

.galleryItem img {
	max-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	margin: 10% 4% 10px 4%;
	margin-top: 5px;
	width: 100%;
	height: 100%;
	max-height:200px;
}

.galleryfoot {
	padding-top: 200px;
	position: relative;
	height: 20px;
	border: 3px solid #73AD21;
}
div.g-recaptcha{
	border:none;
	margin:10px;
}

.icon {
	padding-left: 10px;
	float: left;
}

.imageright {
	padding: 10px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	float: right;
	margin-left: 10px;
}

.last {
	margin-right: 0%;
}

.nav #foots {
	height: 61px;
	padding-bottom: 8px;
	border-radius: 8px;
}

.nav #footsred {
	background: #0C45A7;
	height: 61px;
	padding-bottom: 8px;
	border-radius: 8px;
	list-style-type: none;
}
.donate_home {
	
	height: 61px;
	padding: 8px;
	border-radius: 8px;
	width: 74%;
	
	float:left;
	padding-left:40px;
	padding-bottom:1px;
	margin-bottom:1%;
}
.nav ul {
	list-style: inside;
	
	margin-bottom: 5px;
	margin-top: 0px;
	margin-left: -2.7%;
	padding-top: .2%;
	padding-bottom: .2%;
	padding-left: .2%;
	background-image:
		url("images/wood_grain_texture_4_by_hyenacub_stock-d3a1cr8.jpg");
	background-position: center;
	background-repeat: repeat-n;
	border: 1px solid white;
	
	padding-right: .2%;
	background-color: #F8F8F8;
	opacity: 1.0;
	overflow:hidden;
	position: fixed;
	float: left;
	border-radius: .2%;
	width: 99%;
	z-index: 2;
	display:inline-block;
	
}

ul#footer {
	width: 87.5%;
	list-style-type: none;
}

.nav li {
	font-family: 'Lobster', cursive;
	font-size: 155%;
	line-height: 100%;
	height: 45px;
	border: 0px solid #888;
	padding: .67%;
	border-collapse: justify;
	box-shadow: 0 10px 36px rgba(0, 0, 0, 0.4), 0 3px 10px 0
		rgba(0, 0, 0, 0.29); 
	border-radius: .2%;
	padding-left: .37%;
	margin: .16%;
	margin-left: 0px;
	display: inline-block;
	text-align: center;
	background-image: url("images/old-grunge-vector-background.jpg");
	float: left;
	background-position: bottom;
	opacity:1;
	width:9.9%;
	
}

.nav #ul_sides { 
	margin-top: 329px;
	list-style: inside;
	display: table-column;
	float: none;
	background-color:white;
	
	margin-left: 81%;
	position: absolute;
	width: 14.8%;
	z-index: 1;
}
.nav #li_sides_search {
	margin-bottom: 1%;
	width: 99%;
	height: 65px;
	font-size:250%;
	font-family: Firefly;
	line-height:120%;
}
.nav #li_sides1 {
	margin-bottom: 1%;
	width: 99%;
	height: 20%;
	font-size:250%;
	font-family: Firefly;
	line-height:120%;
}
.nav #li_sides2 {
	width: 99%;
	height: 180px;
	margin-bottom: 1%;
	font-size:180%;
	font-family: Firefly;
	line-height:120%;
}
.nav #li_sides3 {
	width: 99%;
	height: 180px;
	margin-bottom: 1%;
	font-size:180%;
	font-family: Firefly;
}
.nav #li_sides4 {
width: 99%;
	height: 140px;
	margin-bottom: 1%;
	font-size:180%;
	font-family: Firefly;
	line-height:120%;
}

.nav #li_sides5 {
   width: 99%;
	height: 180px;
	margin-bottom: 1%;
	font-size:180%;
	font-family: Firefly;
	line-height:120%;
	
}

	font-family: 'Monastic Pro', sans-serif;
	font-size: 100%;
	height: 18px;
	line-height: 10px;
	border-radius: 2px;



@media (max-width 1280px){
.nav #ul_sides {
	margin-top:20%;
}
	
}

*/
.nav a {
	text-decoration: none;
	color: inherit;
}

.nav a:hover {
	background-color:none;
}

.button {
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: outset;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0
		rgba(0, 0, 0, 0.49);
	margin-left: 42%;
	margin-top:-30px;
	padding: 10px;
	postition: center;
	font-weight: bolder;
	font-style: inherit;
	border-radius: 10px;
	font-family:;
	color: #500B0B;
	font-size: 105%;
}
.button:hover {
    background-color: red;
    font-size: 110%;
    cursor:pointer;
}


div#spacer{
	width:90%;
	height:0%;
	margin-bottom: 4%;
	position:;
}
/*@media (min-width 1280px){
#spacer{
	
	height:105%;
	margin-bottom:4%;
	}
}
*/
#SkypeButton_Call_trevor.garrity_1 {
	margin: 0 !important;
}

#SkypeButton_Call_trevor.garrity_1 img {
	margin: 0 !important;
	vertical-align: left !important;
	background-color: black;
}

.tst1 {
	font-family: arial;
	text-align: center;
	font-size: 125%;
}

.tst2 {
	padding: 10px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
}

.tst3 {
	padding: 0px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	max-image-size:100%;
}


.title_search{
	padding-right: 10px; 
	float: right;
	width:100%;
	
}
.title_form{
	padding:5%;
	width:90%;
	float:right;
	line-height: inherit;
	font: inherit;
	box-sizing: border-box;
}
/* MEDIA QUERIES*/ 
@media only screen and (max-width : 1340px), 
 only screen and (max-device-width : 1340px){ 
 
 
 
 }

 @media only screen and (max-width : 940px), 
 only screen and (max-device-width : 940px){ 
  .galleryItem {width: 44%; height:100%;} 
   .featuresColumn {width: 45%; height:100%; max-height: 600px;}
   /*div#head_home {height: 100%; }*/
   div#spacer {margin-bottom: 10%;}
   .articleform {width: 70%; margin-bottom:0px; margin-right: 10%;}
.nav ul#ul_sides{ margin-left: 71%; width:22%; margin-top:34%;}
h1#home{   font-size: 200%;}
.textopacity_box {max-height: 30%;}
  article#homeform{width: 93%; max-height: 100%;}
  /*img {width: 51%; height:50%;}
  .tst3 {width: 501%; height:100%;}*/
  
  }
   */
 } 
   
   
   
 @media only screen and (max-width : 720px), 
 only screen and (max-device-width : 720px){ 
  .galleryItem {width: 29.33333%; height:29.33333%;} 
  .featuresColumn {width: 51%; height:51%; max-height: 500px;}
  div#spacer {margin-bottom: 15%;}
/*div#head_home {height: 100%; }*/
  /*.tst3 {width: 51%; height:21%;} 
  .articleform {width: 100%; height:100%;}*/
  
  article#homeform{width: 93%; max-height: 300px;}
 } 
   
 @media only screen and (max-width : 530px), 
 only screen and (max-device-width : 530px){ 
 .galleryItem{width: 46%; height:70%;} 
  .featuresColumn {width: 96%; height:40%; max-height: 370px;}
  /*.tst3 {width: 51%; height:61%;}
  .articleform*/
 #homeform{width: 93%; max-height: 540px;}
 .comment-form {font-size: 220%; width: 97%;}
 .comment_reply {font-size: 120%; width: 97%;}
 .input-fields{font-size: 100%; max-width:97%;}
 h1#travel{width: 55%;}
 h1#adventures{width: 55%;}
 h1#stories{width: 25%;}
 h1#teach{font-size: 350%;}
 .button {margin-top:-30px;}
 div#head_home {
 background-image: url("images/homepaged-1-320.jpg");
 max-width: 100%;
    max-height: 50%;
 }

   
 @media only screen and (max-width : 320px), 
 only screen and (max-device-width : 320px){ 
  .galleryItem {width: 96%; height:96%;} 
  .galleryItem .wrapper .featuresColumn img {width: 96%;height:96%;} 
 .galleryItem h3 {font-size: 18px;} 
 .galleryItem p, {font-size: 18px;} 
 .featuresColumn {width: 51%; height:81%; max-height: 500px;}
 /*.tst3 {width: 51%; height:61%;}
 .articleform {}*/
  
 #homeform{width: 93%; max-height: 700px;}
 } 

<!-- Slider -->
*{
	margin: 0;
	padding: 10;
	list-style: none;
	text-decoration: none;
}

.slider{
	overflow: hidden;
	height: 350px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}
/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 60%;
  padding: 0;
  margin-left: 21%;
  }
.rslides_container{
	margin-bottom: 50px;
position: relative;
float: left;
width: 100%;
z-index:1;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none; width: 100%;
  left: 0;
  top: 0;
      display: block;
    float: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms ease-in-out 2s;
}

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0px;
  z-index: 6;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left:  96%;
  background-position: right top;
  
  }

.rslides2_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.rslides2_nav.next {
  left: 420px;
  right: 0;
  }

.rslides3_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("images/themes.gif") no-repeat left 50%;
  width: 38px;
  }

.rslides3_nav:active {
  opacity: 1.0;
  }

.rslides3_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }

.rslides_tabs {
  margin-top: 10px;
  text-align: center;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: none;
  border: 0;
  }
  ul#slider3-pager{
  list-style: none;
  }
.caption{
	
position: absolute;
display: block;
bottom: 0;
left: 0;
right: 0;
padding: 5px;
text-align: center;
background: #000;
background: rgba(0,0,0, .4);
color: #fff;
}
.rslides_thumbs li, 
.rslides_thumbs a {
    display : inline-block;
    *display : block;
    zoom : 1;
}

.rslides_thumbs a{
    padding : 0;
    border : 2px solid transparent;
    margin-left : 2px;
    margin-right : 2px;
}
.rslides_thumbs .rslides_here a{
    border-color : #ccc;
}

.rslides_thumbs img{
    max-width : 100%;
    width : 50px;
}

.rslides_thumb {
    display : block;
    background-repeat : no-repeat;
    background-position : 50% 50%;
    height : 50px;
    width : 50px;
}


#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }

#download:hover {
  background: rgba(255,255,255,.15);
  }

.footer {
  font-size: 11px;
}	
