a {
	color: #500B0B;
	text-decoration:none; 
}

a:visited {
	font-weight: bolder;
}

body {
	margin: 0;
	padding: 0;
	background: none;
}

body {
	background-repeat: repeat-y;
	background-attachment:;
	background-image: url("images/old-grunge-vector-background.jpg");
	margin-left: 1cm;
	margin-right: 1cm;
	background-color: white;
}

body#altbackground {
	background-repeat: repeat-y;
	background-attachment:;
	background-image: url("images/sharkbaysunset.jpg");
	background-position: center;
	background-color:;
	margin-left: 1cm;
	margin-right: 1cm;
}

body#altbackground_lusa {
	background-image: url("images/whaleshark.jpg");
}

body#background_marketplace {
	background-color: #daa525;
	background-image: none;
}

body#background_travel {
	background-color: #778ddb;
	background-image: none;
}

body#background_musicandart {
	background-color: #332626;
	background-image: none;
}

div {
	border:none;
}

div#lusa {
	background-image: url("images/lusa/light2.jpg");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}

div#bret {
	background-image: url("images/whaleshark.jpg");
	background-position: left;
	background-repeat: repeat;
	background-attachment: fixed;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 0px;
}

em {
	font-size: 115%;
	font-weight: bolder;
	font-style: inherit;
}

h1 {
	color: #500B0B;
	font-family: Firefly;
	text-align: center;
	border: none;
	background-color: none;
	font-size: 350%;
	border-radius: 80px;
	box-shadow: none;
	margin-bottom: 10px;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 5px;
	padding: 10px;
}

div#head_music {
	background-image: url("images/music1a.jpg");
	background-position: top;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
}

div#head_home {
	background-image: url("images/homepage.jpg");
	background-position: center;
	background-repeat: repeat-n;
	height: 80%;
	width: 99.4%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}
textopacity#home1{
	
	
}

h1#home {
	color: rgb(74, 40, 31);
	/*Fallback for older browsers without RGBA-support */
	font-size: 700%;
	background: rgba(204, 204, 204, 0.0);
	border-radius: 5px;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	width: 40%;
	margin-left: 29%;
}

div#head_travel {
	background-image: url("images/coralbay.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}

div#head_marketplace {
	background-image: url("images/gold.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}

div#head_teach {
	background-image: url("images/board.jpg");
	background-position: bottom;
	background-repeat: repeat-n;
	height: 320px;
	width: 101%;
	margin-left: 10px;
	margin-top: 0%;
	border-radius: 10px;
	
}

h1#teach {
	color: white;
	font-size: 420%;
	margin-left: 0%;
	margin-top: 0px;
	padding-top: 14px;
	padding-bottom: 0px;
	width: 86.2%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

p#teach_text {
	color: white;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	border-radius: 5px;
	/*width: 200px;*/
	display: inline-block;
}

h1#marketplace {
	color: #8e6919;
	font-size: 570%;
	margin-left: 0%;
	margin-top: 0px;
	padding-top: 14px;
	padding-bottom: 0px;
	width: 26.5%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

h1#music {
	color: black;
	font-size: 370%;
	margin-left: 50.6%;
	margin-top: 0px;
	padding-top: 74px;
	padding-bottom: 0px;
	width: 30%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.5);
	border-radius: 5px;
}

h1#sub {
	margin-left: 0%;
	margin-right: 14%;
}

h1#travel {
	color: #e3f0f8;
	font-size: 560%;
	margin-left: 10%;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 50%;
	border-radius: 5px;
	background: rgb(04, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(04, 204, 204, 0.4); */
	border-radius: 10px;
	width: 30%;
}

h1#adventures {
	color: #167AA7;
	font-size: 390%;
	margin-left: 28.6%;
	margin-top: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 30%;
	border-radius: 50px;
	background: rgb(184, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(164, 204, 204, 0.4);
	border-radius: 10px;
	width: 30%;
}

h1#stories {
	color: #0003ff;
	font-size: 390%;
	margin-left: 60%;
	margin-top: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
	width: 30%;
	border-radius: 5px;
	background: rgb(04, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(904, 904, 404, 0.3);
	border-radius: 10px;
	width: 20%;
}

h2 {
	font-family: Firefly;
	color: #F00C0C;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	padding: 10px
}

h4 {
	text-align: left;
	font-size: 240%;
	color: rgba(113, 7, 7, 0.95);
	padding: 10px;
	box-shadow:;
	border-radius: 20px;
	width: 98.6%;
	font-family: Oranienbaum;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	align: center;
}

#h4sidebar_right {
	margin-right: 0%;
	padding: 8px;
	width: 90%;
}

#h4about {
	align: left;
	margin-right: 100%;
	width: 25%;
	float: center;
}

iframe {
	
	border-radius: 1px;
	border-spacing: 0px;
	padding: 0px;
	margin-bottom: 10px;
	margin-left:-10px;
	margin-top:-10px;
	border: none;
	background-color:#f9f9f9;
	
}
iframe#youtube{
	position: center;
	border-radius: 10px;
	border-spacing: 0px;
	padding: 0px;
	margin-bottom: 1px;
	border: none;
	background-color:#e1dcc4;
	margin: 0px;
	border: 4px solid rgba(0, 0, 0, 0.1);
}

p {
	font-family: Oranienbaum;
	color: #500B0B;
	font-size: 135%;
	font-style: center;
	font-weight: 0%;
	margin-right: 10px;
	text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}
img{
	max-width:100%;
}

p#article_text {
	margin-right: 15%;
}
p#home1 {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.6);
	border-radius: 2px;
	padding: 10px;
	width:500px;
	margin-top:100px;
	padding-bottom:2%;
	
}
.textopacity_r {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.2);
	border-radius: 10px;
	padding: 10px;
	float: top;
	margin-right: 15%;
}

.textopacity {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.4);
	border-radius: 20px;
	padding: 10px;
}

.textopacitybottom {
	/* To keep opaque text background under image galleries */
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.4);
	border-radius: 20px;
	position: inherit;
	top: 100%;
	padding-top: 10px;
	width: 100%;
}

a.active {
	background-color: #fff;
	color: #444;
}

.articleform {
	background-color: #F6ECBC;
	padding: 20px;
	border: 2px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	width: 81%;
}

#articleform_home{
	background-color: #F6ECBC;
	padding: 20px;
	border: 2px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	width: 100%;
	
}
#articleform_header {
	background-image: url("images/old-grunge-vector-background.jpg");
	background-repeat:;
	background-position: bottom;
	background-color: #EAD579;
}

#articleform_awards {
	width: 92%;
}

#articleform_upload {
	width: 50%;
}

article#altbackground1 {
	background-image: url("images/whaleshark.jpg");
	background-position: fixed;
	padding: 20px;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	margin: 10px;
	font: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

article#altbackground2 {
	background-image: url("images/under_construction.jpg");
}

article#footer {
	background-image: url("images/old-grunge-vector-background.jpg");
	background-position: bottom;
}


.comment_container {
	padding: 15px;
}

.comment_reply {
	margin-top: 10px;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	width: 50%;
	padding: 10px;
	margin-top: bottom 15px;
	background: #F9F9F9;
	opacity: .9;
}

.comment-form {
	border: 4px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	width: 52%;
	padding: 5px;
	margin-top: 15px;
	font-family:;
	font-size: 150%;
	background: #F9F9F9;
	
	
}

.comments-wrapper-heading {
	font-family: Nickainley;
	font-size: 350%;
	background-color: #F8F8F8;
	color: #591111;
	box-shadow: none;
	border-radius: 10px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	width: 51%;
	text-aign: center;
}

.form-submit-button {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	color: #333;
	border: 4px solid rgba(0, 0, 0, 0.1);
	font-family: Nickainley;
	font-size: 200%;
}

.container_gallery {
	padding: 0px;
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: none;
	font: black;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 0px;
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}

.container_galleryimage {
	background: none;
	padding: 20px;
	font: black;
	width: 96%;
	margin: 10px auto;
	overflow: hidden;
}

.search {
	/* search bar */
	border: 2px solid #F0DB70;
	border-style: outset;
	width: 15.6%;
	height: 25px;
	font-size: 11pt;
	float: left;
	line-height: 0px;
	padding: 2px;
	overflow: hide;
	
	margin-right: 10px;
}
.home{
	margin-left: 2px;
}

.box {
	/* Figure out wtf this is for */
	padding: 0px;
	border-radius: 0px;
	float: right;
	position: left;
	margin-top: 5%;
}

.featuresColumn {
	align-content: stretch;
	float: left;
	width: 33%;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	flex-flow: column wrap;
	flex-grow: <1>;
	align-items: flex-start;
}

.flagimage {
	padding: 0px;
	border-radius: 15px;
	padding-right: 0px;
	float: right;
}

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	margin: auto;
}

.flexitem {
	
}

.galleryItem {
	width: 130%;
	color: #797478;
	font: 20px/1.5 Verdana, Helvetica, sans-serif;
	float: right;
	color: #797478;
	font: 10px/1.5 Verdana, Helvetica, sans-serif;
	float: left;
	width: 16%;
	margin: 10% 4% 10px 4%;
	margin-top: 10px;
}

.galleryitem_last {
	max-width: 230%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	margin: 10% 4% 10px 4%;
	margin-top: 5px;
	width: 130%;
}

.galleryItem h3 {
	text-transform: uppercase;
	font-size: 170%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	font-family: times;
	color: #500B0B;
	margin: 1% 4% 1px 4%;
	overflow: visible;
	padding: 3px;
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.3);
	width: 130%;
}

.galleryItem img {
	max-width: 150%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	margin: 10% 4% 10px 4%;
	margin-top: 5px;
	width: 130%;
	height: 40%;
}

.galleryfoot {
	padding-top: 200px;
	position: relative;
	height: 20px;
	border: 3px solid #73AD21;
}
div.g-recaptcha{
	border:none;
	margin:10px;
}

.icon {
	padding-left: 10px;
	float: left;
}

.imageright {
	padding: 10px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
	float: right;
	margin-left: 10px;
}

.last {
	margin-right: 0%;
}

.nav #foots {
	height: 61px;
	padding-bottom: 8px;
	border-radius: 8px;
}

.nav #footsred {
	background: #0C45A7;
	height: 61px;
	padding-bottom: 8px;
	border-radius: 8px;
	list-style-type: none;
}
.donate_home {
	
	height: 61px;
	padding: 8px;
	border-radius: 8px;
	width: 74%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0
		rgba(0, 0, 0, 0.29);
		float:none;
	padding-left:40px;
	padding-bottom:1px;
	margin-bottom:1%;
}
.nav ul {
	list-style: inside;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 0px;
	margin-left: -2.7%;
	padding-top: .2%;
	padding-bottom: .2%;
	padding-left: .2%;
	background-image:
		url("images/wood_grain_texture_4_by_hyenacub_stock-d3a1cr8.jpg");
	background-position: center;
	background-repeat: repeat-n;
	border: 1px solid white;
	
	padding-right: .2%;
	background-color: #F8F8F8;
	opacity: 1.0;
	overflow:hidden;
	position: fixed;
	float: left;
	border-radius: .2%;
	width: 99.33%;
	z-index: 2;
	display:inline-block;
	
}

ul#footer {
	width: 99.1%;
	list-style-type: none;
}

.nav li {
	font-family: 'Monastic Pro', sans-serif;
	font-size: 100%;
	line-height: 250%;
	height: 45px;
	border: 0px solid #888;
	line-height: 250%;
	padding: .67%;
	border-collapse: justify;
	text-align: justify;
	box-shadow: 0 10px 36px rgba(0, 0, 0, 0.4), 0 3px 10px 0
		rgba(0, 0, 0, 0.29); 
	border-radius: .2;
	padding-left: .37%;
	content: center;
	margin: .16%;
	margin-left: 0px;
	display: inline-block;
	text-align: justify;
	background-image: url("images/old-grunge-vector-background.jpg");
	float: left;
	background-position: bottom;
	opacity:1;
	
}

.nav #ul_sides { 
	margin-top: 24.6%;
	list-style: inside;
	display: table-column;
	float: none;
	background-color:white;
	
	margin-left: 81%;
	position: absolute;
	width: 14.8%;
	z-index: 1;
}
/*
	font-family: 'Monastic Pro', sans-serif;
	font-size: 100%;
	list-style: inside;
	border-radius: 2px;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 1px;
	padding-top: 0%;
	padding-bottom: 0%;
	background: rgb(204, 204, 204);
	/*Fallback for older browsers without RGBA-support *//*
	background: rgba(204, 204, 204, 0.5);
	
	
	box-shadow: 0 10px 36px rgba(0, 0, 0, 0.4), 0 3px 10px 0
		rgba(0, 0, 0, 0.29);
	padding-left: 2px;
	padding-right: 2px;
	background-color: #F8F8F8;
	opacity: .99;
	margin-left: 10px;
	position: fixed;
	float: right;
	width: 12.1%;
	margin-left: 80.7%;
	
}
*/
.nav #li_sides1 {
	width: 93%;
	height: 80px;
	font-size:250%;
	font-family: Firefly;

}
.nav #li_sides2 {
	width: 93%;
	height: 180px;
	font-size:180%;
	font-family: Firefly;
}
.nav #li_sides3 {
	width: 93%;
	height: 180px;
	font-size:180%;
	font-family: Firefly;
}
.nav #li_sides4 {
width: 93%;
	height: 140px;
	font-size:180%;
	font-family: Firefly;
}

.nav #li_sides5 {
   width: 92%;
	height: 240px;
	font-size:180%;
	font-family: Firefly;
	
}

	font-family: 'Monastic Pro', sans-serif;
	font-size: 100%;
	height: 18px;
	line-height: 10px;
	border-radius: 2px;



@media (max-width 1280px){
.nav #ul_sides {
	margin-top:20%;
}
	
}

*/
.nav a {
	text-decoration: none;
	color: inherit;
}

.nav a:hover {
	background-color:none;
}

.button {
	border: 5px solid #008000;
	border-color: rgba(113, 7, 7, 0.95);
	border-style: outset;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0
		rgba(0, 0, 0, 0.49);
	margin-left: 42%;
	padding: 10px;
	postition: center;
	font-weight: bolder;
	font-style: inherit;
	border-radius: 10px;
	font-family:;
	color: #500B0B;
	font-size: 135%;
}

/*.sidebar_right {
	background-color: #F8F8F8; opacity: .99;
	background-image: url("images/books.jpg");
	background-position: center;
	
    border: 5px solid #008000 ; 
    border-top-style: hidden;
    border-color: rgba(113, 7, 7, 0.95); 
    border-style: inset;
   
	border-radius: 10px;
	margin-left: 80.7%;
	Margin-right: 0px;
	margin-top: 2.7%;
	position: fixed;
	padding: 10px;
	font: black;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow-top: none;
	float: right;
	width: 14%;
}
*/

div#spacer{
	width:90%;
	height:0%;
	margin-bottom: 4%;
	position:;
}
/*@media (min-width 1280px){
#spacer{
	
	height:105%;
	margin-bottom:4%;
	}
}
*/
#SkypeButton_Call_trevor.garrity_1 {
	margin: 0 !important;
}

#SkypeButton_Call_trevor.garrity_1 img {
	margin: 0 !important;
	vertical-align: left !important;
	background-color: black;
}

.tst1 {
	font-family: arial;
	text-align: center;
	font-size: 125%;
}

.tst2 {
	padding: 10px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: inset;
	border-radius: 10px;
}

.tst3 {
	padding: 0px;
	background-color: none;
	border: rgba(113, 7, 7, 0.95);
	border-style: none;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}

.textopacity_box {
	background: rgb(204, 204, 204);
	/* Fallback for older browsers without RGBA-support */
	background: rgba(204, 204, 204, 0.2);
	border-radius: 10px;
	font-size: 170%;
	font-family: times;
	height: inherit;
	margin: 4% 4% 1px 4%;
	overflow: hidden;
	padding: 5px;
	width: 130%;
}
/* MEDIA QUERIES*/ 
 @media only screen and (max-width : 940px), 
 only screen and (max-device-width : 940px){ 
  .galleryItem {width: 21%; height:21%;} 
   .featuresColumn {width: 51%; height:61%;}
   div#head_home {height: 0%; }
   div#spacer {margin-bottom: 10%;}
   .articleform {width: 70%;}
.nav ul#ul_sides{ margin-left: 71%; width:22%; margin-top:34%}
/*h1#home{   font-size: 200%;}
  
  img {width: 51%; height:50%;}
  .tst3 {width: 501%; height:100%;}
  
  }
   */
 } 
   
 @media only screen and (max-width : 720px), 
 only screen and (max-device-width : 720px){r 
  .galleryItem {width: 29.33333%; height:29.33333%;} 
  .featuresColumn {width: 51%; height:51%;}
  div#spacer {margin-bottom: 15%;}
div#head_home {height: 46%; }
  /*.tst3 {width: 51%; height:21%;} 
  .articleform {width: 100%; height:100%;}
  
 } */
   
 @media only screen and (max-width : 530px), 
 only screen and (max-device-width : 530px){ 
  .galleryItem{width: 46%; height:46%;} 
  .featuresColumn {width: 51%; height:61%;}
  /*.tst3 {width: 51%; height:61%;}
  .articleform*/
} 
   
 @media only screen and (max-width : 320px), 
 only screen and (max-device-width : 320px){ 
  .galleryItem {width: 96%; height:96%;} 
  .galleryItem .wrapper .featuresColumn img {width: 96%;height:96%;} 
 .galleryItem h3 {font-size: 18px;} 
 .galleryItem p, {font-size: 18px;} 
 .featuresColumn {width: 51%; height:61%;}
 /*.tst3 {width: 51%; height:61%;}
 .articleform {}*/
 } 

